.card {
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 25px;
}

.radio {
  color: #266db6;
}
#question {
  color: #266db6;
  font-weight: bold;
}

#next-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  margin-top: 20px;
}

#next-button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

#next-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

#next-button:hover::before {
  width: 250%;
}

.title {
  text-align: center;
  color: rgb(102, 102, 102);
  width: 50%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin: auto;
  padding: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin: 10px;
}
.box {
  border: 5px solid #858585;
  border-radius: 3px;
  margin: 5px;
}

h2 {
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  color: #266db6;
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 4px solid #6dcff6;
  border-radius: 5px;
  padding-bottom: 25px;
}

.button {
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  margin-top: 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:active {
  outline: 0;
}

.button:hover {
  background-color: transparent;
  cursor: pointer;
}

.button:before {
  background-color: #d5edf6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button:hover:before {
  background-color: #6dcff6;
}
.rock-choice {
  width: auto;
  height: auto;
}
.rock-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  height: 8vh;
}
.rock-card {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 25px;
}
.rps {
  cursor: pointer;
}

.memory-lvl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.memory-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startMemory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.memory-text {
  font-size: 20px;
  font-weight: bold;
  color: #266db6;
}
.user-turn {
  margin-top: 2rem;
  display: none;
}

/* CSS */
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.memory-input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  flex-basis: 66.66%;
  margin-right: 1rem;
}

.memory-input:hover,
.memory-input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
.memory-input-container {
  display: flex;
}
